#survey {
  background: #fff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  bottom: 0;
  right: 20px;
  height: 600px;
  position: fixed;
  width: 350px;
}

#client_header {
  background: #000;
  top: 0;
  height: 40px;
  width: 100%;
  border-bottom: 3px solid #1a6b96;
  line-height: 40px;
}

#header_img {
  margin: 5px 0 5px 20px;
  height: 30px;
  position: absolute;
}

#header_close {
  margin-right: 20px;
  right: 0;
  height: 40px;
  position: absolute;
  text-align: right;
  vertical-align: middle;
  color: #eee;
  font-weight: bold;
}

#close_icon {
  cursor: pointer;
}

#client_body {
  text-align: left;
}

#client_form {
  padding: 30px 40px;
  max-height: 500px;
  overflow: auto;
}

#client_heading {
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 20px;
  line-height: 1em;
}

.client_input, .client_select, .client_textarea, .client_label {
  width: 100%;
  display: block;
  box-sizing: border-box;
}

.client_input, .client_select, .client_textarea {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 12px;
}

.client_input:focus, .client_textarea:focus {
  background: #e0f4ff;
}

.client_textarea {
  resize: vertical;
  font-family: sans-serif;
}

.client_label {
  margin-bottom: 10px;
  font-size: 14px;
}

::-webkit-input-placeholder {
  font-style: italic;
}
:-moz-placeholder {
  font-style: italic;  
}
::-moz-placeholder {
  font-style: italic;  
}
:-ms-input-placeholder {  
  font-style: italic; 
}

#submit_div {
  text-align: right;
}

#client_submit {
  background: #1a6b96;
  margin-bottom: 10px;
  right: 0;
  width: 135px;
  display: inline-block;
  border: 0;
  color: #eee;
}

#client_submit:hover {
  cursor: pointer;
}

#req {
  text-align: right;
  font-size: 11px;
}

.label_error {
  color: #ff0000;
}

.input_error, .input_error:focus {
  border: 1px solid #ff0000;
  background: #ffc0cb;
}

#form_success {
  line-height: 1.5em;
}

#client_footer {
  background: #ccc;
  bottom: 0;
  height: 30px;
  width: 100%;
  position: absolute;
  vertical-align: middle;
  text-align: center;
  font-size: 11px;
  line-height: 30px;
}